{% extends "base.html" %} {% load static %} {% block content %}

<h1 class="text-muted">Tweets</h1>
<hr />

<div class="row">
  <div class="col-lg-8">
    {% for tweet in tweets %}
    <div class="card text-bg-light mb-3 border border-light-subtle">
      <div class="card-body">
        <div class="d-flex gap-3 mb-3">
          {% if tweet.user.profile.profile_image %}
          <img
            src="{{tweet.user.profile.profile_image.url}}"
            style="width: 35px; height: 35px"
            class="rounded-circle object-fit-cover"
            alt="profile image" />
          {% else %}
          <img
            src="{% static 'images/default_profile_pic.png' %}"
            style="width: 35px; height: 35px"
            class="rounded-circle object-fit-cover"
            alt="profile image" />
          {% endif %}

          <div>
            <p class="text-muted m-0 fw-bold">@{{tweet.user}}</p>
            <small class="text-muted">{{tweet.created_at}}</small>
          </div>
        </div>
        <p class="fw-semibold m-0">{{tweet.body}}</p>
        <hr />
        {% if user in tweet.likes.all %}
        <a href="{% url 'tweet_like' tweet.id %}" class="btn"
          >{{tweet.number_of_likes}} <i class="bi bi-heart-fill"></i
        ></a>
        {% else %}
        <a href="{% url 'tweet_like' tweet.id %}" class="btn"
          >{{tweet.number_of_likes}} <i class="bi bi-heart"></i
        ></a>
        {% endif %}
        <a href="{% url 'tweet_view' tweet.id %}" class="btn"
          >View</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-lg-4">
    {% if form %}
    <form method="post">
      {% csrf_token %} {{form.as_p}}
      <button type="submit" class="btn btn-dark">Tweet!</button>
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}
