{% extends "base.html" %} {% block content %}

<h1 class="text-muted">Tweets</h1>
<hr />

<div class="row">
  <div class="col-lg-8">
    {% for tweet in tweets %}
    <div class="card text-bg-light mb-3 border border-light-subtle">
      <div class="card-body">
        <p class="fw-semibold m-0">{{tweet.body}}</p>
        <small class="text-muted"
          ><span class="fw-semibold">@{{tweet.user}} - </span
          >{{tweet.created_at}}</small
        >
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-lg-4">
    {% if form %}
    <form method="post">
      {% csrf_token %} {{form.as_p}}
      <button type="submit" class="btn btn-dark">Tweet!</button>
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}
