{% extends "base.html" %} {% load static %} {% block content %} {% if profile %}

<div class="row">

  <div class="col-lg-8">

    <div class="d-flex gap-3">
      {% if profile.profile_image %}
        <img src="{{profile.profile_image.url}}" alt="" width="125" height="125" class="rounded" />
      {% else %}
        <img src="{% static 'images/default_profile_pic.png' %}" alt="" width="125" height="125" class="rounded" />
      {% endif %}
      <div class="flex-grow-1">
        <h1 class="text-muted m-0">{{profile.user.username}}'s Profile</h1>
        <p>@{{profile.user.username|lower}}</p>
        <form method="post" class="d-flex justify-content-between">
          {% csrf_token %} {% if profile in user.profile.follows.all %}
          <button
            type="submit"
            class="btn btn-outline-secondary"
            name="follow"
            value="unfollow">
            Unfollow @{{profile.user.username|lower}}
          </button>
          {% else %}
          <button
            type="submit"
            class="btn btn-outline-primary"
            name="follow"
            value="follow">
            Follow @{{profile.user.username|lower}}
          </button>
          {% endif %} 
          
          {% if request.user.is_authenticated and request.user.id == profile.user.id %}
          <a href="{% url 'update_user' %}" role="button" class="btn btn-light">
            <i class="bi bi-gear"></i>
          </a>
          {% endif %}
        </form>
      </div>
    </div>

    <hr />

    {% for tweet in tweets %}
    <div class="card text-bg-light mb-3 border border-light-subtle">
      <div class="card-body">
        <div class="d-flex gap-3 mb-3">
          {% if profile.profile_image %}
          <img
            src="{{profile.profile_image.url}}"
            style="width: 35px; height: 35px"
            class="rounded-circle object-fit-cover"
            alt="profile image" />
          {% else %}
          <img
            src="{% static 'images/default_profile_pic.png' %}"
            style="width: 35px; height: 35px"
            class="rounded-circle object-fit-cover"
            alt="profile image" />
          {% endif %}

          <div>
            <p class="text-muted m-0 fw-bold">@{{tweet.user}}</p>
            <small class="text-muted">{{tweet.created_at}}</small>
          </div>
        </div>
        <p class="fw-semibold m-0">{{tweet.body}}</p>
        <hr>
        {% if user in tweet.likes.all %}
        <a href="{% url 'tweet_like' tweet.id %}" class="btn"
          >{{tweet.number_of_likes}} <i class="bi bi-heart-fill"></i
        ></a>
        {% else %}
        <a href="{% url 'tweet_like' tweet.id %}" class="btn"
          >{{tweet.number_of_likes}} <i class="bi bi-heart"></i
        ></a>
        {% endif %}
        <a href="{% url 'tweet_view' tweet.id %}" class="btn"
        >View</a>
        {% if requset.user.username == tweet.profile.user.username %}
        <a href="{% url 'delete_tweet' tweet.id %}" class="btn"
        ><i class="bi bi-trash"></i></a>
        <a href="{% url 'edit_tweet' tweet.id %}" class="btn"
        ><i class="bi bi-pencil-square"></i></a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="col-lg-4">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Bio</h5>
        {% if profile.profile_bio %}
        <i class="bi bi-person-fill"></i>{{profile.profile_bio}}
        {% endif %}
        <br>
        {% if profile.profile_url %}
        <i class="bi bi-link-45deg"></i><a href="{{profile.profile_url}}" target="_blank">{{profile.profile_url}}</a>
        {% endif %}
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title">Following</h5>
      </div>
      <div class="card-body">
        <div class="list-group list-group-flush">
          {% for following in profile.follows.all %}
          <div class="list-group-item link-primary d-flex gap-3">
            <a href="{% url 'profile' following.user.id %}" class="text-primary" >
              @{{following|lower}}
            </a>
            <a href="{% url 'unfollow' following.user.id %}" class="text-dark"><i class="bi bi-person-dash-fill"></i></a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Followers</h5>
      </div>
      <div class="card-body">
        <div class="list-group list-group-flush">
          {% for following in profile.followed_by.all %}
          <div class="list-group-item link-primary d-flex gap-3">
            <a href="{% url 'profile' following.user.id %}" class="text-primary" >
              @{{following|lower}}
            </a>
            {% if following in profile.follows.all %}
            <a href="{% url 'unfollow' following.user.id %}" class="text-dark"><i class="bi bi-person-dash-fill"></i></a>
            {% else %}
            <a href="{% url 'follow' following.user.id %}" class="text-dark"><i class="bi bi-person-fill-add"></i></a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
