{% extends "base.html" %} {% load static %} {% block content %}

<h1 class="text-muted my-4">Profile List</h1>

{% if profiles %}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 g-4">
  {% for profile in profiles %}
  <div class="col">
    <div class="card text-bg-light border border-light-subtle">
      <div class="card-body">
        <div class="d-flex gap-3">
          {% if profile.profile_image %}
          <img
            src="{{profile.profile_image.url}}"
            style="width: 90px; height: 90px"
            class="rounded-circle object-fit-cover"
            alt="profile image" />
          {% else %}
          <img
            src="{% static 'images/default_profile_pic.png' %}"
            style="width: 90px; height: 90px"
            class="rounded-circle object-fit-cover"
            alt="profile image" />
          {% endif %}
          <div>
            <h5 class="card-title m-0">{{profile.user.username}}</h5>
            <p class="card-text">
              <a
                class="stretched-link"
                href="{% url 'profile' profile.user.id %}"
                >@{{profile.user.username|lower}}</a
              >
            </p>
            <p class="card-text m-0">
              <small class="text-body-secondary"
                >{{profile.date_modified}}</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endif %} {% endblock %}
